* {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	color: #333;
	font: normal 13px/1.625 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0px;
	text-align: center;
}

#container {
	background: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	box-shadow: 0px 0px 12px rgba(0,0,0,.3);
	margin: 0 auto;
	padding: 25px;
	min-height: 300px;
	width: 90vw;
}

header {
	border-bottom: 1px solid #ddd;
	font-size: 28px;
	padding: 0 0 7px;
}

#TemplateContainer {
	height: 300px;
}

#TemplateContainer span {
	margin: 125px 15%;
	display: inline-block;
	font-size: 24px;
	color: gray;
}

#large {
	margin: 25px auto;
}

#large img {
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	box-shadow: 0px 0px 6px rgba(0,0,0,.3);
	float: left;
	width: 100%;
}

.details {
	border-bottom: 1px solid #ddd;
	float: right;
	text-align: left;
	width: 100%;
	padding: 10px 0px;
}

.details p {
	border-top: 1px solid #ddd;
	font-size: 12px;
	margin: 0;
	padding: 7px 0;
}

.details strong {
	background: #555;
	color: #fff;
	font-size: 10px;
	font-weight: normal;
	padding: 2px 5px;
	text-transform: uppercase;
}

#thumbnailContainer {
	float: left;
	width: 100%;
}

.thumbnails {
	border: 1px solid #ddd;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	margin: 0 auto;
	position: relative;
	padding: 10px 45px;
}

.thumbnailElement {
	color: #777;
	float: left;
	margin: 0 5px;
	position: relative;
	text-align: center;
	text-decoration: none;
}

.thumbnailElement img {
	border: 5px solid transparent;
	display: block;
	margin: 0 0 5px;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}

.thumbnailElement:hover img {
	border-color: #eee;
}

.thumbnailElement:active img {
	border-color: #aaa;
}

.thumbnails .active img,
.thumbnails .active:hover img  {
	border-color: #a41d0f;
}

.thumbnailElement span {
	background: #eee;
	-moz-border-radius: 22px; -webkit-border-radius: 22px; border-radius: 22px;
	font-weight: bold;
	font-size: 12px;
	margin: 5px auto 0 auto;
	padding: 2px 15px;
}

.thumbnailElement:hover span {
	background: #ddd;
}

.thumbnailElement:active span {
	background: #aaa;
	color: #fff;
}

.thumbnailElement.active span {
	background: #a41d0f;
	color: #fff;
}

.thumbnails .previous, 
.thumbnails .next {
	float: none;
	height: 24px;
	position: absolute;
	text-indent: -9999em;
	top: 64px;
	width: 24px;
}

.previous {
	background: url(../src/images/previous.png) no-repeat 0 0;
	left: 10px;
}

.next {
	background: url(../src/images/next.png) no-repeat 0 0;
	right: 10px;
}

.previous:hover, .next:hover {
	opacity: .6;
}

.previous:active, .next:active {
	opacity: 1;
}

.disabled {
	opacity: .2 !important;
}

footer {
	font-size: 12px;
	padding: 25px 0 0 0;
}

.group:before, .group:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.group:after { clear: both; }
.group { zoom: 1; }


@media only screen and (min-width: 600px) {
	#large img {
		width: 60%
	}
	.details {
		width: 35%;
	}
}

@media only screen and (min-width: 850px) {
	#container {
	  width: 750px;
	}
	#thumbnailContainer {
		width: 25%;
	}
	.thumbnails {
		width: 660px;
	}
}

@media only screen and (min-width: 700px) and (max-width: 849px){
	#thumbnailContainer {
		width: 33%;
	}
	.thumbnailElement {
		margin: 0 10%;
	}
}

@media only screen and (min-width: 653px) and (max-width: 699px){
	#thumbnailContainer {
		width: 33%;
	}
	.thumbnailElement {
		margin: 0 5%;
	}
}

@media only screen and (min-width: 600px) and (max-width: 652px){
	#thumbnailContainer {
		width: 50%;
	}
	.thumbnailElement {
		margin: 0 15%;
	}
}

@media only screen and (min-width: 500px) and (max-width: 599px){
	#thumbnailContainer {
		width: 50%;
	}
	.thumbnailElement {
		margin: 0 10%;
	}
}

@media only screen and (min-width: 450px) and (max-width: 499px){
	#thumbnailContainer {
		width: 100%;
	}
	.thumbnailElement {
		margin: 0 25%;
	}
}

@media only screen and (min-width: 400px) and (max-width: 449px){
	.thumbnailElement {
		margin: 0 20%;
	}
}

@media only screen and (min-width: 350px) and (max-width: 399px){
	.thumbnailElement {
		margin: 0 15%;
	}
}